<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>



    <div class="logoTop">
        <p>Bindle</p>
        <img src="" alt="Bindle Logo">
    </div>
    
    <div class="centerContent secondary displays">
        <h1 class="title">Characters</h1>
        <ul>
             <% characters.forEach( el => {  %>
                <li class="characterName" data-id="<%=el._id%>" data-type="character">
                    <div>
                        <a href="/inventory/<%= el._id%>" class="cNameList"><%= el.characterName %></a>
                        <span>Str : <%= el.strScore %></span>
                    </div>
                    <div data-id="<%=el._id%>">
                        <span class="material-symbols-outlined noStyle">Edit_square</span>
                        <span class='delChar material-symbols-outlined noStyle'> Delete </span>
                    </div>
                </li>
            <%  })  %>
         </ul>

    <!--Add EDIT button for Characters, EJS modal pop-up for editing name + STR score-->

         <div class="charSub">
            <form action="/characters/createCharacter" method="POST">
                <input type="text" placeholder="Name" name="characterName">
                <input type="number" placeholder="Str Score" name="strScore">
                <input type="submit">
            </form>
         </div>
        

        <div class="accountOptions">
            <a href="/homebrews">Homebrews</a>
            <a href="/logout">Logout</a>
        </div>

    </div>

    <label for="ChangeTheme">
        <input type="checkbox" id="ChangeTheme"/>
        <span class="material-symbols-outlined darkButton" id="darkButton">bedtime</span>
    </label> 
    

    <script src="../js/main.js"></script>
    <script src="../js/theme.js"></script>

</body>
</html>