<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1>Inventory</h1>

    <h2><%= charInfo.characterName %></h2>

    <ul>
    <% inventory.forEach( el => { %>
            <li class='itemName' data-id='<%=el._id%>'>
                <span><%= el.itemName  %> |</span>
                <span>Quantity: <%= el.itemNumber %> |</span>
                <span>lb per item: <%= el.itemWeight %> |</span>
                <span>total lb: <%= (el.itemNumber)*(el.itemWeight) %> |</span>
                <span class="edit">Edit |</span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2>
        Inventory Weight: <%= total %> / <%= charInfo.strScore %> lbs
    </h2>

    <h2>Make an Item!</h2>
    <form action="/inventory/createItem/<%=charId%>" method='POST'>
        <input type="text" placeholder="Enter Item Name" name='itemName'>
        <input type="text" placeholder="Description (Optional)" name="description">
        <input type="number" placeholder="Weight Per Item" name="itemWeight">
        <input type="number" placeholder="Item Quantity" name="itemNumber">
        <input type="submit">
    </form>

    <h2>Find an Item!</h2>
    <form action="/inventory/searchItem/<%charId%>" method="POST">
        <input type="text" placeholder="Enter Item Name" name='itemName'>
        <input type="number" placeholder="Item Quantity" name="itemNumber">
        <input type="submit">
    </form>

    <a href="/characters">Characters</a>
    <a href="/logout">Logout</a>

    <script src="/public/js/main.js"></script>
</body>
</html>