<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Inventory</h1>

    <h2><%= charInfo.characterName %></h2>

    <ul>
    <% inventory.forEach( el => { %>
            <li class='itemName' data-id='<%=el._id%>'>
                <span><%= el.itemName  %> |</span>
                <span>Quantity: <%= el.itemNumber %> |</span>
                <span>lb per item: <%= el.itemWeight %> |</span>
                <span>total lb: <%= (el.itemNumber)*(el.itemWeight) %> |</span>
                <span class="edit">Edit |</span>
                <span class='delItem'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <% if (total <= charInfo.strScore*15) { %>
        <h2> Inventory Weight: <%= total %> / <%= charInfo.strScore*15 %> lbs </h2>
        <%} else{ %>
        <h2> Inventory Weight:
            <span class="encumbered"><%= total %> / <%= charInfo.strScore*15 %> lbs</span>
        </h2>
        <h3 class="encumbered">You are over-encumbered!</h3>
        <% } %>

    <h2>Make an Item!</h2>
    <form action="/inventory/createItem/<%=charId%>" method='POST'>
        <input type="text" placeholder="Enter Item Name" name='itemName'>
        <input type="text" placeholder="Description (Optional)" name="description">
        <input type="number" placeholder="Weight Per Item" name="itemWeight">
        <input type="number" placeholder="Item Quantity" name="itemNumber">
        <input type="submit">
    </form>

    <h2>Find an Item!</h2>
    <form action="/inventory/searchItem/<%charId%>" method="POST">
        <input type="text" placeholder="Enter Item Name" name='itemName'>
        <input type="number" placeholder="Item Quantity" name="itemNumber">
        <input type="submit">
    </form>

    <a href="/characters">Characters</a>
    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
</body>
</html>