<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= charInfo.characterName %></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

    <div class="logoTop">
        <p>Bindle</p>
        <img src="" alt="Bindle Logo">
    </div>

    <div class="centerContent secondary displays">
        <h1 class="title"><%= charInfo.characterName %></h1>


        <ul>
        <% inventory.forEach( el => { %>
                <li class='itemName' data-id='<%=el._id%>' data-path="editItem" data-a="<%=el.itemNumber%>" data-b="<%=el.itemWeight%>" data-cid="<%=el.charId%>">
                    <span><%= el.itemName  %> |</span>
                    <span>Quantity: <%= el.itemNumber %> |</span>
                    <span>lb per item: <%= el.itemWeight %> |</span>
                    <span>total lb: <%= (el.itemNumber)*(el.itemWeight) %> |</span>
                    <span><%=el.itemDescription%></span>
                    <button data-modal-target="#modal">Edit</button>
                    <button class="delItem">Delete</button>
                </li>
        <% }) %>    
        </ul>
    
        <!--Flex Box likely best option to deal with screen sizes and organization with item list-->

        <% if (total <= charInfo.strScore*15) { %>
            <h2> Inventory Weight: <%= total %> / <%= charInfo.strScore*15 %> lbs </h2>
            <%} else{ %>
            <h2> Inventory Weight:
                <span class="encumbered"><%= total %> / <%= charInfo.strScore*15 %> lbs</span>
            </h2>
            <h3 class="encumbered">You are over-encumbered!</h3>
        <% } %>
    
        <div class="inventorySubs">
            <h2>Make an Item!</h2>
            <form action="/inventory/createItem/<%=charId%>" method='POST'>
                <input type="text" placeholder="Enter Item Name" name='itemName'>
                <input type="text" placeholder="Description (Optional)" name="itemDescription">
                <input type="number" placeholder="Item Quantity" name="itemNumber">
                <input type="number" placeholder="Weight Per Item (Optional)" name="itemWeight">
                <input type="submit">
            </form>
            <h2>Find an Item!</h2>
            <form action="/inventory/searchItem/<%charId%>" method="POST">
                <input type="text" placeholder="Enter Item Name" name='itemName'>
                <input type="number" placeholder="Item Quantity" name="itemNumber">
                <input type="submit">
            </form>
        </div>
        

        <div class="accountOptions">
            <a href="/characters">Characters</a>
            <a href="/logout">Logout</a>
        </div>

    </div>


    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Update Item</div>
            <button data-close-button class="close-button">x</button>
        </div>
        <div class="modal-body">
            <form class="formInput" action="" method='POST'>
                <span>#</span>
                <input type="number" placeholder="Quantity" name="p1">
                <span>lbs</span>
                <input type="number" placeholder="lbs per item" name="p2">
                <input type="hidden" placeholder="cid" name="cid">
                <input type="submit">
            </form>
        </div>
    </div>
    <div id="overlay"></div>

    <label for="ChangeTheme">
        <input type="checkbox" id="ChangeTheme"/>
        <span class="material-symbols-outlined darkButton" id="darkButton">bedtime</span>
    </label> 


    <script src="../js/main.js"></script>
    <script src="../js/theme.js"></script>

</body>
</html>